.TileLink {
    display: inline-block;
}

.TileLink a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #434E78;
    width: 200px;
    height: 150px;
    color: #fff !important;
    text-decoration: none !important;
}